<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">🎰三拍子名言スロット🎰</h1>
      <p class="lead mt-3 text-muted">Generate new "Four character idiomatic compounds" with slot game</p>
    </div>
  </div>
</section>
<div class="container">
    <h3 class="text-center mb-4">Let's try!!</h3>
    <div class="row justify-content-center">
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title text-center mt-2 mb-4">🎰四字熟語を作成&投稿しよう🎰</h5>
            <p class="card-text">スロットマーシンで登録されている四字熟語から、四字熟語を新しく作ります！！</p>
            <%# <%= link_to "Go!!", new_created_word_path %> %>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title text-center mt-2 mb-4">🔎みんなの結果を見てみよう🔎</h5>
            <p class="card-text">投稿されたスロット結果はこちらから確認できます！！</p>
            <%# <%= link_to "Go!!", created_words_path %> %>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title text-center mt-2 mb-4">📕四字熟語の確認＆投稿📕</h5>
            <p class="card-text">スロットの元となる四字熟語の確認、投稿はこちらから<br>ぜひ投稿してください！！</p>
            <%# <%= link_to "Go!!", source_words_path %> %>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>