@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'basic_yojis';
@import 'slot_yojis';
html {
  position: relative;
  min-height: 100%;
}
.header {
  background-color: $yellow-200;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 48px;
  background-color: $yellow-200;
}
.suggest_twitter:hover{
  cursor: pointer;
}